<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href={% static 'home/styles.css' %}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Tracker</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class = "container-fluid">
        <h1>NBA Stat Tracker</h1>
        <span id = "navigation" class = "col-md-10">
                <a href = "/" class = "active">Home</a>
                <a href = "/stats/">Player Stats</a>
                <a href = "/graphs/">Graphs</a>
        </span>
        {% if user.is_authenticated %}
        <span class = "col-md-2">
            <a id = "signInButton" href = "/logout">Log out</a>
        </span>
        {% else %}
        <span class = "col-md-2">
            <a id = "signInButton" href = "/login">Sign in</a>
        </span>
        {% endif %}

    </nav>
    <div class = "container-lg">
        {% block main %}{% endblock %}
    </div>
</body>
</html>